.height-full {
  height: 90vh;
}

.chat-box {
  position: relative;
}
.chat-messages {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-messages input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.chat-messages input:focus {
  outline: none;
}
.chat-messages button {
  border: none;
  border-radius: 5px;
}
.messages-container {
  overflow-y: auto;
  height: 50vh;
}

.message {
  max-width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  word-wrap: break-word;
}

.users {
  cursor: pointer;
}
.sent {
  background: linear-gradient(
    to right,
    rgba(249, 99, 133, 255),
    rgba(248, 107, 107, 255)
  );
  color: white;
  align-self: flex-end;
  text-align: right;
  border-radius: 15px 15px 0 15px;
}

.received {
  background-color: #e0e0e0;
  color: black;
  align-self: flex-start;
  text-align: left;
  border-radius: 15px 15px 15px 0;
}

.modal-container {
  position: relative;
}
.cancel-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

.hidden {
  display: none;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.display-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.active-child {
  right: 2px;
  top: 75%;
  transform: translate(50%, -50%);
  font-size: 50px;
}

.chat-header,
.my-profile {
  cursor: pointer;
}
