.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-bg {
  /* background: #2973b2; */
  background: linear-gradient(
    to right,
    rgba(249, 99, 133, 255),
    rgba(248, 107, 107, 255)
  );
}

.input-field {
  width: 100%;
  border: 1px solid rgba(41, 114, 178, 0.226);
  border-radius: 5px;
}

.input-field:focus {
  outline: none;
}

.logo {
  color: #2973b2;
}
